main{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

h1.title{
    margin-top: 0;
    font-size: 7.2rem;
}

.container{
    margin: 0 auto;
}

.button-options{
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

#label_for_lang{
    opacity: 0;
    z-index: -1;
    position: absolute;
}

@media screen and (max-width: 400px) {
    h1.title{
        font-size: 5.2rem;
    }
}