main{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

h1.title{
    margin-top: 0;
    font-size: 7.2rem;
}

.container{
    margin: 0 auto;
}

.button-options{
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

#label_for_lang{
    opacity: 0;
    z-index: -1;
    position: absolute;
}

body.body{
    text-align: center;
}

body.body ol{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.6rem;
    margin-top: 3.6rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
}

body.body ol li{
    width: fit-content;
    padding: 0.5rem 1rem;
}

body.body ol li::marker{
    font-size: 2.4rem;
}

body.body ol li span::before{
    content: "Score: ";
}

@media screen and (max-width: 400px) {
    h1.title{
        font-size: 5.2rem;
    }
}