h1.title {
    margin: 2rem auto 0.5rem;
    font-size: 60px;
}
main {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
}
#game {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

#gamebutton {
    position: relative;
}

main section section {
    background-color: #f0f0f0;
    border: 7px #c4c4c4 solid;
    margin: 4px;
    border-radius: 50px;
}
.feedback {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    height: 9%;
    padding: 10px 0;
}
.feedback div {
    background-color: #aaa;
    height: 10px;
    width: 10px;
    margin: auto;
    border-radius: 6px;
}
#feedbackBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: max(5vw, 5rem);
    height: 51vh;
    margin-top: 9vh;
}
#mainBox {
    width: max(25rem,25vw);
    height: 60vh;
}
#colours {
    margin-top: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: absolute;
    bottom: -19vh;
    width: 70%;
    padding: 5px;
}
#guess {
    width: 70%;
    position: absolute;
    bottom: -10vh;
    padding: 5px;
}
.guess {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.guess div {
    height: 40px;
    width: 40px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 3px 3px #AAA;
}
#solution {
    height: 8vh;
    margin: -10px -10px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding: 10px 10px 5px;*/
}
.sections {
    width: 80%;
    height: 12%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sections div, #solution div {
    height: 40px;
    width: 40px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 3px 3px #AAA;
}
#colours div {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: solid 3px #797979;
}
.blue,.guess>.blue,.sections>.blue,#solution>.blue {
    background-color: #5BAFD3;
}
.green,.guess>.green,.sections>.green,#solution>.green  {
    background-color: #5BD3A1;
}
.yellow,.guess>.yellow,.sections>.yellow,#solution>.yellow  {
    background-color: #EDF11F;
}
.red,.guess>.red,.sections>.red,#solution>.red {
    background-color: #D35B5B;
}
button.blue,button.green,button.red,button.yellow {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.feedback div.black {
    background-color: #000;
}
.feedback div.white {
    background-color: #F00;
}
#popup {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--background);
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 6px 6px var(--blackShadow); 
    width: 70%;
}
#popup p {
    text-align: center;
}
h2 {
    font-size: 3rem;
    text-align: center;
}
button.main {
    width: 100%;
    text-align: center;
}
button {
    border-radius: 0;
}
@media (min-width: 750px) {
    button.main {
        width: fit-content;
        text-align: center;
    }
    button {
        border-radius: 50rem;
    }
    #backToHome {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
}
@media (min-width: 470px) {
    #popup {
        width: unset;
    }
    #guess {
    width: max(25rem,25vw);
    bottom: -12vh;
  }
  .guess {
    margin: 10px auto;
    justify-content: space-around;
  }
  #colours {
    height: 51vh;
    flex-direction: column;
    position: relative;
    bottom: 0;
    padding: 0;
    width: max(5vw, 5rem);
  }
  #game {
      margin-bottom: 13vh;
  }
  
}
  