body {
    background-color: #5BAFD3;
}
canvas {
    width: 80vw;
    height: 80vh;
    margin: 2rem auto;
    position: relative;
}
body>div {
    position: relative;
    display: flex;
    justify-content: center;
}
section {
    background-color: #f0f0f0;
    border: 7px #c4c4c4 solid;
    margin: 4px;
    border-radius: 50px;
    
}
.feedback {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    height: 9%;
    padding: 10px 0;
}
.feedback div {
    background-color: #aaa;
    height: 10px;
    width: 10px;
    margin: auto;
    border-radius: 6px;
}
#feedbackBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: min(7.5vw, 4rem);
    height: 51vh;
    margin-top: 9vh;
}
#mainBox {
    width: min(30vw,18rem);
    height: 60vh;
}
#colours {
    width: min(7.5vw, 4rem);
    height: 51vh;
    margin-top: 9vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#guess {
    width: min(30vw,18rem);
    height: 9vh;
    position: absolute;
    bottom: -12vh; 
}
.guess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
}
.guess div {
    height: 40px;
    width: 40px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 3px 3px #AAA;
}
#solution {
    height: 8vh;
    margin: -10px -10px 5px;
}
.sections {
    width: 80%;
    height: 12%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sections div {
    height: 40px;
    width: 40px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 3px 3px #AAA;
}
#colours div {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: solid 3px #797979;
}
.blue {
    background-color: #5BAFD3;
}
.green {
    background-color: #5BD3A1;
}
.yellow {
    background-color: #EDF11F;
}
.red {
    background-color: #D35B5B;
}
button.blue,button.green,button.red,button.yellow {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}