h1 {
    margin: 5vh auto;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
}



p {
    margin: 0;
}

.kader {
    padding: 2.5rem 5rem;
    width: 80%;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
    background: rgba(21, 72, 94, 0.25);
    box-shadow: 0 0 15px 15px rgba(21, 72, 94, 0.15);
    max-width: 75rem;
}

.bovensteVier div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marginOnder {
    margin-bottom: 7.5%;
}

.marginOnder p, label[for="myRange"], label[for="naam"] {
    margin: 4% 0;
    font-size: 48px;
    color: white;
    font-weight: bolder;
    align-content: flex-start;
}

.center {
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem ;

}

.center div {
    display: flex;
    
    justify-content: center;
    margin: 18px 0;
    gap: 36px;
}

.center p {
    font-size: 2.6rem;
}

.copyright {
    margin-top: 24px;
    text-align: center;
    
    font-size: 2.4rem ;
}



/*input voor gebruikersnaam*/

input[type=text] {
    background: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    background-size: 300% 100%;
    color: white;
    width: 30rem;
    height: 48px;
    border: 0;
    border-radius: 100px;
    padding-left: 10px;
    transition: 350ms;
    box-shadow: 0 0 7px 5px rgba(237, 110, 160, .5);
}

input[type=text]:valid{
    background-position: 100% 0;
    transition: 350ms;
    width: 30rem;
    height: 45px;
}

.tekxtInBox {
    background: linear-gradient(to right, rgb(237, 110, 160), #ec8c69, #f7186a, #FBB03B);
    background-size: 300% 100%;
    background-position: 100% 0;
   
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 0 7px 5px rgba(237, 110, 160, .5);
    padding-top: 7.5px;
    font-size: 32px !important;
    width: 12vw;
}


/* de slider */

.slider {
    -webkit-appearance: none;
    width: 30rem;
    height: 30px;
    border-radius: 100px;
    background: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    background-size: 300% 100%;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: 0 0 7px 5px rgba(237, 110, 160, .5);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}


.toggleButton input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleButton.round{
    margin-top: 0;
    box-shadow: 0 0 7px 5px rgba(237, 110, 160, .5);
}

.range-wrap {
    position: relative;
}

.getalBovenSlider {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    font-size: 18px;
}

/* de toggle knop */

#muziekstatus, #spelerstatus {
    margin-left: 12px;
    
    font-size: 24px;
}

.toggleButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 50%;
    margin-bottom: auto;
    background: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    -webkit-transition: .4s;
    background-size: 300% 100%;
    transition: .4s;
    width: 90px;
    height: 51px;
}

.toggleButton:before {
    position: absolute;
    content: "";
    height: 39px;
    width: 39px;
    left: 6px;
    bottom: 6px;
   
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .toggleButton:before {

    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
}

input:checked + .toggleButton{
    background-position: 100% 0;
}

.toggleButton.round {
    border-radius: 34px;
}

.toggleButton.round:before {
    border-radius: 50%;
}

/*social media links*/

a {
    text-decoration: none;
}

img {
    width: 6rem;
    margin-left: 0.5rem;
}

.socialLinks {
    font-size: 3.6rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    animation: but;
}

.discord {
    background: #5865F2;
    color: white;
    padding-left: 0.5vw;
}

.discord:hover {
    animation: buttonAnimation 500ms forwards linear;
    background: #4f5bdf;
    cursor: pointer;
    box-shadow: 0 0 25px #4d5bf8;
}

.twitter {
    background: #08a5df;
    color: white;
    padding-left: 0.5vw;
}

.twitter:hover {
    animation: buttonAnimation 500ms forwards linear;
    background: #0990c1;
    cursor: pointer;
    box-shadow: 0 0 25px #0990c1;
}

@media (min-width: 62.5em) {

    .kader {
        width: 60%;
    }

    .marginOnder p,label[for="myRange"], label[for="naam"] {
       font-size: 32px;
       margin: 2% 0;
    }

    #muziekstatus, #spelerstatus {
        font-size: 12px;
    }

    .toggleButton{
        width: 60px;
        height: 34px;
    }

    .toggleButton:before {
        height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    }

    input:checked + .toggleButton:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .getalBovenSlider{
        font-size: 12px;
    }

    input[type=text] {
        height: 30px;
    }

    .tekxtInBox {
        padding-top: 5px;
    font-size: 24px !important;
    width: 8vw;
    }

    .center div{
        margin: 12px 0;
        gap: 24px;
    }

    h1 {
        font-size: 4vh;
    }

    .marginOnder{
        margin-bottom: 12px;
    }

    .copyright {
        font-size: 1.2rem;
    }

    .center p {
        font-size: 1.6rem;
    }

    img {
        width: 3rem;
    }
   
}

@media (max-width:1500px) {
    body{
        overflow: scroll !important;
    }
 }


