/* Center title */
h1.title {
    text-align: center;
}

/* Close button */
button.main {
    padding: 0;
    padding-top: 1rem;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    transition: 500ms;
    transform: rotate(45deg);
}

/* Close button hover */
button.main:hover {
    padding: 0;
    padding-top: 1rem;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    transform: rotate(45deg);
    transition: all 250ms;
}



/* Rules section */
div.rulesBox {
    padding: 0 10%;
    width: 55%;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    background: rgba(124, 210, 247, 0.5);
    box-shadow: 0 0 25px rgba(124, 210, 247);
    justify-content: center;
}

/* Close button display */
button {    
    padding: 0;
    margin-right: 10rem;
    margin: auto;
    background-color: fuchsia;
    background: fuchsia;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}




/* Copyright paragraph */
p.small {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}
/* Rules paragraph */
p {
    font-family: 'Grandstander', 'Sans-Serif';
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding-top: 50px;
    max-height: max-content;
    text-align: center;
} 



